 div{
    width: 100px;
    height: 100px;
    background: coral;
  }
  
  body:nth-child(1){
    display: none;
}

body:nth-child(2){
    visibility: hidden ;
}

body:nth-child(3){
    visibility: visible;
}
  