 div{
    width: 100px;
    height: 100px;
    background: coral;
  }
  
  body>.container{
    display: none;
}

body>.container{
    visibility: hidden ;
}

body>.container{
    visibility: visible;
}
  